Options -MultiViews
RewriteEngine On
RewriteBase /

# Handle requests for static files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.html
RewriteRule ^(.*)$ index.html [L]
