/* @media (max-width: 1200px) {
    .col-xxl-12 {
      width: 100%;
    }
  
    .mb-xl-10,
    .mb-lg-8,
    .mb-md-5,
    .md-sm-5 {
      margin-bottom: 10px;
    }
  
    .col-xxl-12,
    .h-md-[250px] {
      height: auto;
    }
  
    table {
      width: 100%;
      max-width: 100%;
    }
  
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    thead {
      display: none;
    }
  
    tr {
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
  
    td {
      text-align: left;
      padding: 10px;
      border: none;
      position: relative;
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
    }
  }
   */


   .no-arrow {
    &.place-top::before,
    &.place-top::after,
    &.place-right::before,
    &.place-right::after,
    &.place-bottom::before,
    &.place-bottom::after,
    &.place-left::before,
    &.place-left::after {
      display: none !important; /* Hide the arrow */
    }
  }

  .custom-tooltip-style {
    box-shadow: 0 0 16.6px rgba(0, 0, 0, 0.15); /* Shadow with the specified spread */
    border-radius: 10px; /* Rounded corners */
  }

  .search-input::placeholder {
    color: #FFFFFF; /* Change the color to your desired color */
  }


  @media (max-width: 768px) {
    .change-view {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 1024px) {
    /* Adjust the widths of the components for smaller screens */
  }
  /* Custom CSS to remove border from the left side */

  .form-check-input:checked.bg-pink {
    background-color: #1C274C;
    border: none  ;
  } 
  .form-check-input[type="radio"]:checked {
    background-color: #1C274C;
    border: none;
  }
  .tile-shadow:hover{
    /* box-shadow: 0 0 13.4px 0 rgba(0, 0, 0, 0.09); */
    /* background-color: white; */
    /* z-index: 999; */
    border: 1px solid #E3E3E3;

  }

  .side-menu:hover {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
     */
     background-color: #F3F3F3;
     border-radius: 6px;
    
  }

  /* CSS */
  .form-check-input{
    /* border-radius: 10%; */
    /* background-color: #E3E3E3;   */
  }
.form-check-input:checked {
  background-color: black !important;
  border-color: black;
}


/* .cardWidgets{
  width:200px;
} */

.cardWidgets .apexcharts-legend {
  height: 160px !important; /* Adjust the height as needed */
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  width: 290px !important;
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

.cardWidgets .apexcharts-legend .apexcharts-legend-series {
  /* width: 50%; Each legend item takes 50% of the container width */
  box-sizing: border-box;
  /* display: flex; */
  align-items: center;
  /* width: fit-content; */
  /* border: 1px solid black; */
  /* flex: 1; */
}

.cardWidgets .apexcharts-legend .apexcharts-legend-series:nth-child(odd),
.cardWidgets .apexcharts-legend .apexcharts-legend-series:nth-child(even) {
  justify-content: flex-start; 
  display: flex;
}

.cardWidgets .apexcharts-xaxis {
  overflow-x: auto; /* Add horizontal scroll for x-axis */
  white-space: nowrap; /* Prevent x-axis labels from wrapping */
  max-height: 30px; /* Adjust the max height as needed */
}

.cardWidgets .apexcharts-legend .apexcharts-legend-series .apexcharts-legend-text{
  color: #212121;
  font-family: Manrope !important;
  font-size: 12px !important;
}
@media screen and (max-width: 1300px) {
  .cardWidgets .apexcharts-legend {
    width: 120px !important;
    border: 1px solid black;
  }
}
/* Add styles for the active state */
.menu-link.active {
  background-color: #FFF;
}

/* Add styles for the dark icon */
.dark-icon img {
  filter: brightness(50%); /* Example: reduce brightness to make the icon darker */
}


.menu-sub{
  height: auto !important;
  /* width: 175px !important; */
  /* transform: translate(-10px, auto) !important; */
  /* position: absolute !important; */
  /* margin-left: -10px; */
  /* transform: translate3d(61px, 164px, 0px) !important; */
  /* margin-top: 80px; */
  /* inset: 10px auto auto 0px !important;   */
}

.menu-sub-lg-dropdown{
  background-color: white !important;
  width: 200px !important;
  border-radius: 0px 12px 12px 12px !important;
box-shadow: 0px 2px 23.9px 0px rgba(0, 0, 0, 0.20) !important;
}

.app-sidebar .menu .menu-item .menu-link.active{
  color: #000!important;
  background-color: #F1F1F1 !important;

}
.app-sidebar .menu .menu-item .menu-link{
  color: #505050!important;
  /* background-color: #F1F1F1 !important; */
  width: 100%;
  /* border: 1px solid; */
  

}
.app-sidebar .menu .menu-item .without-sub:hover{
  color: #000!important;
  background-color: #e2e2e2 !important;

}
.app-sidebar .menu .menu-item .menu-link.active .menu-icon{
  color: #000000 !important;
}
.app-sidebar .menu .menu-item .menu-link.active .menu-title{
  color: #000000 !important;
}
/* .app-sidebar .menu .menu-item .menu-link.hover{
  color: #9A9CAE !important;
  background-color: #9A9CAE !important;
} */

.highcharts-labe.highcharts-tooltip.highcharts-color-undefined{
  padding: 50px;
}

.highcharts-label-box.highcharts-tooltip-box{
  /* fill: #1C274C; */
  padding: 10px;
}
.highcharts-labe.highcharts-tooltip.highcharts-color-undefined text{
  border: 1px solid black;
}


