.fc-timegrid-slot {
  height: 30px !important; /* Automatically adjust height based on time slots */
  font-family: "Manrope";
  font-weight: 600;
  font-size: 12px !important;
}

.fc-event {
  background-color: #fff;
  font-size: 12px;
  padding: 8px;
  font-family: "Manrope";
  font-weight: 600;
  border: none;
  box-shadow: 0 0 16.6px rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px !important;
  height: auto; /* Fixed height for better alignment */
  min-height: 50px; /* Ensure minimum height is sufficient */
}

.fc-timegrid-event {
  font-family: "Manrope";
  white-space: normal; /* Allow wrapping of event content */
  line-height: 1.2;
}
.fc-v-event .fc-event-main {
  color: #1c335c !important; /* Adjust text color for better contrast */
}

.card-content{
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100%;
}
.time-pill {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
  background: rgba(60, 60, 60, 0.08);
  font-weight: 600;
  width: fit-content;
}

.teacher {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #555;
}
.avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

